
.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 32px);
  grid-template-rows: repeat(10, 32px);
  gap: 2px;
}

.cell {
  width: 32px;
  height: 32px;
  border: 2px solid black;
  cursor: pointer;
}

.hit {
  background-color: crimson;
}

.miss {
  background-color: lightblue;
}

.status {
  color: red;
  font-size: 16px;
}